# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Cinema Room Manager/*
!/Cinema Room Manager/task/
/Cinema Room Manager/task/*
!/Cinema Room Manager/task/src

# Project exclude paths
/Topics/Array exceptions/Out of bounds/out/
/Topics/Array exceptions/Out of bounds/out/production/classes/
/Topics/Arrays as parameters/Adding values/out/
/Topics/Arrays as parameters/Adding values/out/production/classes/
/Topics/Arrays as parameters/Inverse boolean flags/out/
/Topics/Arrays as parameters/Inverse boolean flags/out/production/classes/
/Topics/Arrays as parameters/Sorting numbers/out/
/Topics/Arrays as parameters/Sorting numbers/out/production/classes/
/Topics/Iterating over arrays/Check if an array is sorted ascending/out/
/Topics/Iterating over arrays/Check if an array is sorted ascending/out/production/classes/
/Topics/Iterating over arrays/Does an array contain N/out/
/Topics/Iterating over arrays/Does an array contain N/out/production/classes/
/Topics/Iterating over arrays/Individual taxes/out/
/Topics/Iterating over arrays/Individual taxes/out/production/classes/
/Topics/Iterating over arrays/Right Rotation/out/
/Topics/Iterating over arrays/Right Rotation/out/production/classes/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/
/Topics/Iterating over arrays/Sum array elements greater than a value/out/production/classes/
/Topics/Iterating over arrays/Sum of even numbers in a comma-separated list/out/
/Topics/Iterating over arrays/Sum of even numbers in a comma-separated list/out/production/classes/
/Topics/Iterating over arrays/The sum of array elements/out/
/Topics/Iterating over arrays/The sum of array elements/out/production/classes/
/Topics/Multidimensional array/Create cube/out/
/Topics/Multidimensional array/Create cube/out/production/classes/
/Topics/Multidimensional array/Find the corners/out/
/Topics/Multidimensional array/Find the corners/out/production/classes/
/Topics/Multidimensional array/Rotate a rectangle array/out/
/Topics/Multidimensional array/Rotate a rectangle array/out/production/classes/
/Topics/Multidimensional array/Symmetric matrix/out/
/Topics/Multidimensional array/Symmetric matrix/out/production/classes/